@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter&family=Mooli&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Mooli', sans-serif;
}


/*header decoration*/
.header_article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    height: 70px;
}
.firstImg {
    height: 40px;
    width: 40px;
    margin-top: 19px;
}
h1 {
    padding-left: 5px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Mooli', sans-serif;
}
.logo {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin:0 160px 0 15px;
}
input {
    width: 320px;
    height: 14px;
    margin-left: 150px;
    border-radius: 20px;
    border: 1px solid #b3b3b3;
    padding: 10px 20px;
}
input::placeholder {
    color: rgb(145, 145, 145);
    font-size: 1.2em;
    padding: 1px 0 0 2px;
  }
.magnifying-glass {
    position: relative;
    top: 8px;
    right: 36px;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    cursor: pointer;
  }
  .line {
    width: auto;
    height: 5px;
    background-color: rgb(255, 158, 41);
  }


  /*main decoration*/


main {
  display: flex;
  align-items: center;
  justify-content: center;
  }
.search-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.search-result {
  margin-top:  50px;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.search-result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}
.search-result:hover img {
  opacity: 0.8;
}
.search-result a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}
#show-more-botton {
  background-color: #008cba;
  font-size: 18px;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  display: block;
  text-align: center;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

  /* footer decoration*/

  .footer_conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .rss {
    width: 120px;
    height: 80px;
  }
  .link_rss {
    text-align: end;
  }
  a {
    width: 420px;
    font-size: 28px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  p {
    width: 420px;
    font-size: 28px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .search-result {
      width: 45%;
      padding: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .search-result {
      width: 100%;
    } 
  }